.grid-item {
  /* padding: 12px; */
  border: 1px solid #bbb;
  min-height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.grid-item:hover {
  /* transform: scale(1.05); */
  cursor: pointer;
  outline: 3px solid #1e88e5;
  transition: 0.1s all;
}
